/* -Arsalan Style */
       .bg-custom {
      background: #f6f5f1;
    }
   
    .about-heading {
      color: #121212;
      font-size: 2.2em;
      margin-bottom: 12px;
      line-height: 1.15em;
    }
    .about-heading .highlight {
      color: #b41c41;
      font-weight: 600;
    }
    .feature-icon {
      width: 18px;
      height: 18px;
      background: #b41c41;
      border-radius: 50%;
      display: inline-block;
      margin-right: 8px;
    }
    /* counter-style */
    .counter-section {
      background: #b41c41;
      color: #fff;
      border-radius: 15px;
      padding: 30px 15px;
      margin-top: 40px;
    }
    .counter-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      padding: 14px 0;
    }
    .counter {
      font-size: 2.2em;
      font-style: italic;
      font-weight: 500;
      margin-bottom: 4px;
    }
    .label {
      font-size: 1.07em;
    }
    .image{
      width: 1900px;
      height: 400px;
  
    }
    .rounding{
      border-radius: 700px;
      width: 400px;
      box-shadow: 0 5px 3px rgb(192, 0, 0);
    }


